# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }
menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F
firefoxview-page-title = { -firefoxview-brand-name }
firefoxview-close-button =
    .title = 닫기
    .aria-label = 닫기
# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = 방금 전
# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = 탭 받기
firefoxview-tabpickup-description = 다른 기기의 페이지를 엽니다.
# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% 완료
firefoxview-tabpickup-step-signin-header = 기기 간 원활한 전환
firefoxview-tabpickup-step-signin-description = 여기에서 휴대폰 탭을 보려면, 먼저 로그인하거나 계정을 만드세요.
firefoxview-tabpickup-step-signin-primarybutton = 계속
firefoxview-syncedtabs-signin-header = 어디서나 탭 가져오기
firefoxview-syncedtabs-signin-description = { -brand-product-name }를 사용하는 모든 곳에서 탭을 보려면 계정에 로그인하세요. 계정이 없는 경우 가입 단계를 안내해 드립니다.
firefoxview-syncedtabs-signin-primarybutton = 로그인 또는 가입
firefoxview-tabpickup-adddevice-header = 휴대폰 또는 태블릿에서 { -brand-product-name } 동기화
firefoxview-tabpickup-adddevice-description = 모바일용 { -brand-product-name }를 다운로드하고 로그인하세요.
firefoxview-tabpickup-adddevice-learn-how = 방법 알아보기
firefoxview-tabpickup-adddevice-primarybutton = 모바일용 { -brand-product-name } 받기
firefoxview-syncedtabs-adddevice-header = 다른 기기에서 { -brand-product-name }에 로그인하세요.
firefoxview-syncedtabs-adddevice-description = { -brand-product-name }를 사용하는 모든 곳에서 탭을 보려면 모든 기기에서 로그인하세요. <a data-l10n-name="url">추가 기기 연결</a> 방법에 대해 알아보세요.
firefoxview-syncedtabs-adddevice-primarybutton = 모바일용 { -brand-product-name } 사용해보기
firefoxview-tabpickup-synctabs-header = 탭 동기화 켜기
firefoxview-tabpickup-synctabs-description = { -brand-short-name }가 기기 간에 탭을 공유하도록 허용합니다.
firefoxview-tabpickup-synctabs-learn-how = 방법 알아보기
firefoxview-tabpickup-synctabs-primarybutton = 열린 탭 동기화
firefoxview-syncedtabs-synctabs-header = 동기화 설정 업데이트
firefoxview-syncedtabs-synctabs-description = 다른 기기의 탭을 보려면 열려 있는 탭을 동기화해야 합니다.
firefoxview-syncedtabs-synctabs-checkbox = 열린 탭이 동기화되도록 허용
firefoxview-tabpickup-fxa-admin-disabled-header = 조직에서 동기화를 사용하지 않도록 설정함
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name }는 관리자가 동기화를 비활성화했기 때문에 기기 간에 탭을 동기화할 수 없습니다.
firefoxview-tabpickup-network-offline-header = 인터넷 연결 확인
firefoxview-tabpickup-network-offline-description = 방화벽이나 프록시를 사용하는 경우, { -brand-short-name }에 웹 액세스 권한이 있는지 확인하세요.
firefoxview-tabpickup-network-offline-primarybutton = 다시 시도
firefoxview-tabpickup-sync-error-header = 동기화에 문제 있음
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name }는 지금 동기화 서비스에 연결할 수 없습니다. 잠시 후 다시 시도하세요.
firefoxview-tabpickup-sync-error-primarybutton = 다시 시도
firefoxview-tabpickup-sync-disconnected-header = 계속하려면 동기화를 켜세요
firefoxview-tabpickup-sync-disconnected-description = 탭을 가져오려면 { -brand-short-name }에서 동기화를 허용해야 합니다.
firefoxview-tabpickup-sync-disconnected-primarybutton = 설정에서 동기화 켜기
firefoxview-tabpickup-password-locked-header = 탭을 보려면 기본 비밀번호를 입력하세요
firefoxview-tabpickup-password-locked-description = 탭을 가져오려면 { -brand-short-name }의 기본 비밀번호를 입력해야 합니다.
firefoxview-tabpickup-password-locked-link = 더 알아보기
firefoxview-tabpickup-password-locked-primarybutton = 기본 비밀번호 입력
firefoxview-syncedtab-password-locked-link = <a data-l10n-name="syncedtab-password-locked-link">더 알아보기</a>
firefoxview-tabpickup-signed-out-header = 다시 연결하려면 로그인하세요
firefoxview-tabpickup-signed-out-description = 다시 연결하고 탭을 가져오려면 { -fxaccount-brand-name }에 로그인하세요.
firefoxview-tabpickup-signed-out-primarybutton = 로그인
firefoxview-tabpickup-syncing = 잠깐이면 탭이 동기화됩니다.
firefoxview-mobile-promo-header = 휴대폰 또는 태블릿에서 탭 가져오기
firefoxview-mobile-promo-description = 최신 모바일 탭을 보려면, iOS 또는 Android에서 { -brand-product-name }에 로그인하세요.
firefoxview-mobile-promo-primarybutton = 모바일용 { -brand-product-name } 받기
firefoxview-mobile-confirmation-header = 계속 진행!
firefoxview-mobile-confirmation-description = 이제 태블릿이나 휴대폰에서 { -brand-product-name } 탭을 가져올 수 있습니다.
firefoxview-closed-tabs-title = 최근에 닫음
firefoxview-closed-tabs-description2 = 이 창에서 닫은 페이지를 다시 엽니다.
firefoxview-closed-tabs-placeholder-header = 최근에 닫은 탭 없음
firefoxview-closed-tabs-placeholder-body = 이 창에서 탭을 닫으면 여기에서 가져올 수 있습니다.
firefoxview-closed-tabs-placeholder-body2 = 탭을 닫으면 여기에서 가져올 수 있습니다.
# Variables:
#   $tabTitle (string) - Title of tab being dismissed
firefoxview-closed-tabs-dismiss-tab =
    .title = { $tabTitle } 닫기
# refers to the last tab that was used
firefoxview-pickup-tabs-badge = 마지막 활동
# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = 새 탭에서 { $targetURI } 열기
firefoxview-try-colorways-button = 컬러웨이 체험
firefoxview-change-colorway-button = 컬러웨이 변경
# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }
firefoxview-synced-tabs-placeholder-header = 아직 볼 것이 없음
firefoxview-synced-tabs-placeholder-body = 다음에 다른 기기의 { -brand-product-name }에서 페이지를 열 때 마법처럼 여기로 가져옵니다.
firefoxview-collapse-button-show =
    .title = 목록 표시
firefoxview-collapse-button-hide =
    .title = 목록 숨기기
firefoxview-overview-nav = 최근 탐색
    .title = 최근 탐색
firefoxview-overview-header = 최근 탐색
    .title = 최근 탐색

## History in this context refers to browser history

firefoxview-history-nav = 기록
    .title = 기록
firefoxview-history-header = 기록
firefoxview-history-context-delete = 기록에서 삭제
    .accesskey = D

## Open Tabs in this context refers to all open tabs in the browser

firefoxview-opentabs-nav = 열린 탭
    .title = 열린 탭
firefoxview-opentabs-header = 열린 탭

## Recently closed tabs in this context refers to recently closed tabs from all windows

firefoxview-recently-closed-nav = 최근에 닫은 탭
    .title = 최근에 닫은 탭
firefoxview-recently-closed-header = 최근에 닫은 탭

## Tabs from other devices refers in this context refers to synced tabs from other devices

firefoxview-synced-tabs-nav = 다른 기기의 탭
    .title = 다른 기기의 탭
firefoxview-synced-tabs-header = 다른 기기의 탭

##

# Used for a link in collapsible cards, in the ’Recent browsing’ page of Firefox View
firefoxview-view-all-link = 모두 보기
# Variables:
#   $winID (Number) - The index of the owner window for this set of tabs
firefoxview-opentabs-window-header =
    .title = 창 { $winID }
# Variables:
#   $winID (Number) - The index of the owner window (which is currently focused) for this set of tabs
firefoxview-opentabs-current-window-header =
    .title = 창 { $winID } (현재)
firefoxview-opentabs-focus-tab =
    .title = 이 탭으로 전환
firefoxview-show-more = 자세히 보기
firefoxview-show-less = 간단히 보기
firefoxview-sort-history-by-date-label = 날짜순 정렬
firefoxview-sort-history-by-site-label = 사이트순 정렬

## Variables:
##   $date (string) - Date to be formatted based on locale

firefoxview-history-date-today = 오늘 - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-yesterday = 어제 - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-this-month = { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-prev-month = { DATETIME($date, month: "long", year: "numeric") }
# When history is sorted by site, this heading is used in place of a domain, in
# order to group sites that do not come from an outside host.
# For example, this would be the heading for all file:/// URLs in history.
firefoxview-history-site-localhost = (로컬 파일)

##

firefoxview-show-all-history = 모든 기록 보기
firefoxview-view-more-browsing-history = 탐색 기록 더보기

## Message displayed in Firefox View when the user has no history data

firefoxview-history-empty-header = 이전으로 돌아가기
firefoxview-history-empty-description = 탐색할 때, 방문하는 페이지가 여기에 나열됩니다.
firefoxview-history-empty-description-two = 개인 정보를 보호하는 것은 우리가 하는 일의 핵심입니다. <a data-l10n-name="history-settings-url">기록 설정</a>에서 { -brand-short-name }가 기억하는 활동을 제어할 수 있는 이유입니다.

##

# Button text for choosing a browser within the ’Import history from another browser’ banner
firefoxview-choose-browser-button = 브라우저 선택
    .title = 브라우저 선택

## Message displayed in Firefox View when the user has chosen to never remember History

firefoxview-dont-remember-history-empty-header = 표시할 항목 없음
firefoxview-dont-remember-history-empty-description = 개인 정보를 보호하는 것은 우리가 하는 일의 핵심입니다. { -brand-short-name }가 기억하는 활동을 제어할 수 있는 이유입니다.
firefoxview-dont-remember-history-empty-description-two = 현재 설정에 따라 { -brand-short-name }는 탐색 중 활동을 기억하지 않습니다. 이를 변경하려면 <a data-l10n-name="history-settings-url-two">기록을 기억하도록 기록 설정을 변경</a>하세요.

##

# This label is read by screen readers when focusing the close button for the "Import history from another browser" banner in Firefox View
firefoxview-import-history-close-button =
    .aria-label = 닫기
    .title = 닫기

## Text displayed in a dismissable banner to import bookmarks/history from another browser

firefoxview-import-history-header = 다른 브라우저에서 기록 가져오기
firefoxview-import-history-description = { -brand-short-name }를 기본 브라우저로 만드세요. 방문 기록, 북마크 등을 가져옵니다.

## Message displayed in Firefox View when the user has no recently closed tabs data

firefoxview-recentlyclosed-empty-header = 탭을 너무 빨리 닫았습니까?
firefoxview-recentlyclosed-empty-description = 여기에서 최근에 닫은 탭을 찾을 수 있으므로, 원하는 탭을 빠르게 다시 열 수 있습니다.
firefoxview-recentlyclosed-empty-description-two = 오래 전 탭을 찾으려면 <a data-l10n-name="history-url">방문 기록</a>을 확인하세요.

##

