# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }
menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F
firefoxview-page-title = { -firefoxview-brand-name }
firefoxview-close-button =
    .title = סגירה
    .aria-label = סגירה
# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = ממש עכשיו
firefoxview-tabpickup-description = פתיחת דפים ממכשירים אחרים.
# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% הושלמו
firefoxview-tabpickup-step-signin-header = מעבר חלק בין מכשירים
firefoxview-tabpickup-step-signin-description = כדי לקבל כאן את הלשוניות שלך מהטלפון, תחילה יש להיכנס או צור חשבון.
firefoxview-tabpickup-step-signin-primarybutton = המשך
firefoxview-syncedtabs-signin-primarybutton = התחברות או הרשמה
firefoxview-tabpickup-adddevice-header = סנכרון { -brand-product-name } בטלפון או במחשב לוח שלך
firefoxview-tabpickup-adddevice-description = יש להוריד את { -brand-product-name } לנייד ולהתחבר שם.
firefoxview-tabpickup-adddevice-learn-how = מידע נוסף
firefoxview-tabpickup-adddevice-primarybutton = קבלת { -brand-product-name } לנייד
firefoxview-syncedtabs-adddevice-header = כניסה אל { -brand-product-name } במכשירים האחרים שלך
firefoxview-syncedtabs-adddevice-description = כדי לראות את הלשוניות שלך מכל מקום שבו יש לך את { -brand-product-name }, יש להתחבר בכל המכשירים שלך. למידע נוסף על <a data-l10n-name="url">כיצד לחבר מכשירים נוספים</a>.
firefoxview-syncedtabs-adddevice-primarybutton = קבלת { -brand-product-name } לנייד
firefoxview-tabpickup-synctabs-header = הפעלת סנכרון לשוניות
firefoxview-tabpickup-synctabs-description = יש לאפשר ל־{ -brand-short-name } לשתף לשוניות בין מכשירים.
firefoxview-tabpickup-synctabs-learn-how = מידע נוסף
firefoxview-tabpickup-synctabs-primarybutton = סנכרון לשוניות פתוחות
firefoxview-syncedtabs-synctabs-header = עדכון הגדרות הסנכרון שלך
firefoxview-syncedtabs-synctabs-description = כדי לראות לשוניות ממכשירים אחרים, יש לסנכרן את הלשוניות הפתוחות שלך.
firefoxview-syncedtabs-synctabs-checkbox = יש לאפשר ללשוניות פתוחות להסתנכרן
firefoxview-tabpickup-fxa-admin-disabled-header = הארגון שלך השבית את הסנכרון
firefoxview-tabpickup-fxa-admin-disabled-description = אין באפשרות { -brand-short-name } לסנכרן לשוניות בין מכשירים מכיוון שמנהל המערכת שלך השבית את האפשרות לסנכרון.
firefoxview-tabpickup-network-offline-header = יש לבדוק את חיבור האינטרנט שלך
firefoxview-tabpickup-network-offline-description = אם המחשב שלך משתמש בחומת אש או מתווך, יש לבדוק של־{ -brand-short-name } יש הרשאה לגשת לרשת.
firefoxview-tabpickup-network-offline-primarybutton = ניסיון חוזר
firefoxview-tabpickup-sync-error-header = אנו נתקלים בבעיות בסנכרון
firefoxview-tabpickup-generic-sync-error-description = ‏{ -brand-short-name } לא יכול להגיע לשירות הסנכרון כרגע. נא לנסות שוב בעוד מספר רגעים.
firefoxview-tabpickup-sync-error-primarybutton = ניסיון חוזר
firefoxview-tabpickup-sync-disconnected-header = יש להפעיל סנכרון כדי להמשיך
firefoxview-tabpickup-sync-disconnected-description = כדי לקבל את הלשוניות שלך, יהיה עליך לאפשר סנכרון ב־{ -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = הפעלת סנכרון בהגדרות
firefoxview-tabpickup-password-locked-header = יש להכניס את הססמה הראשית שלך כדי להציג את הלשוניות
firefoxview-tabpickup-password-locked-description = כדי לקבל את הלשוניות שלך, יהיה עליך להכניס את הססמה הראשית עבור { -brand-short-name }.
firefoxview-tabpickup-password-locked-link = מידע נוסף
firefoxview-tabpickup-password-locked-primarybutton = נא להכניס את הססמה הראשית
firefoxview-syncedtab-password-locked-link = <a data-l10n-name="syncedtab-password-locked-link">מידע נוסף</a>
firefoxview-tabpickup-signed-out-header = יש להיכנס כדי להתחבר מחדש
firefoxview-tabpickup-signed-out-description = כדי להתחבר מחדש ולקבל את הלשוניות שלך, יש להיכנס אל ה־{ -fxaccount-brand-name } שלך.
firefoxview-tabpickup-signed-out-primarybutton = כניסה
firefoxview-tabpickup-syncing = נא להמתין בזמן שהלשוניות שלך מסתנכרנות. זה יקח ממש רגע.
firefoxview-mobile-promo-header = קבלת לשוניות מהטלפון או למחשב הלוח שלך
firefoxview-mobile-promo-description = כדי לצפות בלשוניות האחרונות שלך מהנייד, יש להתחבר ל־{ -brand-product-name } ב־iOS או ב־Android.
firefoxview-mobile-promo-primarybutton = קבלת { -brand-product-name } לנייד
firefoxview-mobile-confirmation-header = 🎉 אפשר להתקדם!
firefoxview-mobile-confirmation-description = כעת באפשרותך לקבל את הלשוניות שלך ב־{ -brand-product-name } ממחשב הלוח או הטלפון שלך.
firefoxview-closed-tabs-title = לשוניות שנסגרו לאחרונה
firefoxview-closed-tabs-description2 = פתיחה מחדש דפים שנסגרו בחלון זה.
firefoxview-closed-tabs-placeholder-header = אין לשוניות שנסגרו לאחרונה
firefoxview-closed-tabs-placeholder-body = כשסוגרים לשונית בחלון זה, ניתן לקבל אותה בחזרה כאן.
firefoxview-closed-tabs-placeholder-body2 = כשסוגרים לשונית, ניתן לקבל אותה בחזרה כאן.
# refers to the last tab that was used
firefoxview-pickup-tabs-badge = הלשונית הפעילה האחרונה
# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = פתיחת { $targetURI } בלשונית חדשה
firefoxview-try-colorways-button = לנסות ערכות צבעים
firefoxview-change-colorway-button = שינוי ערכת צבעים
# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }
firefoxview-synced-tabs-placeholder-header = אין מה לראות עדיין
firefoxview-synced-tabs-placeholder-body = בפעם הבאה שייפתח דף ב־{ -brand-product-name } במכשיר אחר, הוא יופיע כאן כמו קסם.
firefoxview-collapse-button-show =
    .title = הצגת רשימה
firefoxview-collapse-button-hide =
    .title = הסתרת רשימה
firefoxview-overview-nav = גלישה אחרונה
    .title = גלישה אחרונה
firefoxview-overview-header = גלישה אחרונה
    .title = גלישה אחרונה

## History in this context refers to browser history

firefoxview-history-nav = היסטוריה
    .title = היסטוריה
firefoxview-history-header = היסטוריה
firefoxview-history-context-delete = מחיקה מההיסטוריה
    .accesskey = מ

## Open Tabs in this context refers to all open tabs in the browser

firefoxview-opentabs-nav = לשוניות פתוחות
    .title = לשוניות פתוחות
firefoxview-opentabs-header = לשוניות פתוחות

## Recently closed tabs in this context refers to recently closed tabs from all windows

firefoxview-recently-closed-nav = לשוניות שנסגרו לאחרונה
    .title = לשוניות שנסגרו לאחרונה
firefoxview-recently-closed-header = לשוניות שנסגרו לאחרונה

## Tabs from other devices refers in this context refers to synced tabs from other devices

firefoxview-synced-tabs-nav = לשוניות ממכשירים אחרים
    .title = לשוניות ממכשירים אחרים
firefoxview-synced-tabs-header = לשוניות ממכשירים אחרים

##

# Used for a link in collapsible cards, in the ’Recent browsing’ page of Firefox View
firefoxview-view-all-link = הצגת הכל
# Variables:
#   $winID (Number) - The index of the owner window for this set of tabs
firefoxview-opentabs-window-header =
    .title = חלון { $winID }
# Variables:
#   $winID (Number) - The index of the owner window (which is currently focused) for this set of tabs
firefoxview-opentabs-current-window-header =
    .title = חלון { $winID } (נוכחי)
firefoxview-opentabs-focus-tab =
    .title = מעבר ללשונית זו
firefoxview-show-more = להציג יותר
firefoxview-show-less = להציג פחות
firefoxview-sort-history-by-date-label = מיון לפי תאריך
firefoxview-sort-history-by-site-label = מיון לפי אתר

## Variables:
##   $date (string) - Date to be formatted based on locale

firefoxview-history-date-today = היום - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-yesterday = אתמול - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-this-month = { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-prev-month = { DATETIME($date, month: "long", year: "numeric") }
# When history is sorted by site, this heading is used in place of a domain, in
# order to group sites that do not come from an outside host.
# For example, this would be the heading for all file:/// URLs in history.
firefoxview-history-site-localhost = (קבצים מקומיים)

##

firefoxview-show-all-history = הצגת כל ההיסטוריה
firefoxview-view-more-browsing-history = הצגת היסטוריית גלישה נוספת

## Message displayed in Firefox View when the user has no history data

firefoxview-history-empty-header = חזרה למקום שבו היית
firefoxview-history-empty-description = תוך כדי גלישה, הדפים שבהם ביקרת יופיעו כאן.
firefoxview-history-empty-description-two = ליבת העשייה שלנו היא להגן על הפרטיות שלך. זוהי הסיבה שבאפשרותך לשלוט בפעילות ש־{ -brand-short-name } זוכר, ב<a data-l10n-name="history-settings-url">הגדרות ההיסטוריה</a> שלך.

##

# Button text for choosing a browser within the ’Import history from another browser’ banner
firefoxview-choose-browser-button = בחירת דפדפן
    .title = בחירת דפדפן

## Message displayed in Firefox View when the user has chosen to never remember History

firefoxview-dont-remember-history-empty-header = אין מה לראות כאן
firefoxview-dont-remember-history-empty-description = ליבת העשייה שלנו היא להגן על הפרטיות שלך. זוהי הסיבה שבאפשרותך לשלוט בפעילות ש־{ -brand-short-name } זוכר.
firefoxview-dont-remember-history-empty-description-two = בהתבסס על ההגדרות הנוכחיות שלך, { -brand-short-name } לא זוכר את הפעילות שלך תוך כדי גלישה. כדי לשנות זאת, ניתן <a data-l10n-name="history-settings-url-two">לשנות את הגדרות ההיסטוריה שלך כדי לזכור את ההיסטוריה שלך</a>.

##

# This label is read by screen readers when focusing the close button for the "Import history from another browser" banner in Firefox View
firefoxview-import-history-close-button =
    .aria-label = סגירה
    .title = סגירה

## Text displayed in a dismissable banner to import bookmarks/history from another browser

firefoxview-import-history-header = ייבוא היסטוריה מדפדפן אחר
firefoxview-import-history-description = ניתן להפוך את { -brand-short-name } לדפדפן ברירת המחדל שלך. ייבוא היסטוריית גלישה, סימניות ועוד.

## Message displayed in Firefox View when the user has no recently closed tabs data

firefoxview-recentlyclosed-empty-header = סגרת לשונית מוקדם מדי?
firefoxview-recentlyclosed-empty-description = כאן ניתן למצוא את הלשוניות שסגרת לאחרונה, כך שבאפשרותך לפתוח מחדש כל אחת מהן במהירות.
firefoxview-recentlyclosed-empty-description-two = כדי למצוא לשוניות מלפני זמן רב, ניתן לצפות <a data-l10n-name="history-url">בהיסטוריית הגלישה</a> שלך.

##

