# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }
menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F
firefoxview-page-title = { -firefoxview-brand-name }
firefoxview-close-button =
    .title = Siere
    .aria-label = Siere
# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Juste cumò
# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Ripie schede
firefoxview-tabpickup-description = Vierç lis pagjinis di un altri dispositîf.
# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% completât
firefoxview-tabpickup-step-signin-header = Passe cence fastidis di un dispositîf a chel altri
firefoxview-tabpickup-step-signin-description = Par recuperâ achì lis schedis viertis sul telefon, prime jentre o cree un account.
firefoxview-tabpickup-step-signin-primarybutton = Continue
firefoxview-syncedtabs-signin-header = Recupere lis tôs schedis di cualsisei dispositîf
firefoxview-syncedtabs-signin-description = Par viodi lis tôs schedis di dapardut là che tu dopris { -brand-product-name }, jentre cul to account. Se no tu âs un account, ti acompagnìn dilunc i passaçs par creâ un.
firefoxview-syncedtabs-signin-primarybutton = Jentre o regjistriti
firefoxview-tabpickup-adddevice-header = Sincronize { -brand-product-name } sul to telefon o taulete
firefoxview-tabpickup-adddevice-description = Discjame { -brand-product-name } par dispositîfs mobii e jentre di lì.
firefoxview-tabpickup-adddevice-learn-how = Impare cemût
firefoxview-tabpickup-adddevice-primarybutton = Oten { -brand-product-name } par dispositîfs mobii
firefoxview-syncedtabs-adddevice-header = Jentre su { -brand-product-name } suntun altri dispositîf
firefoxview-syncedtabs-adddevice-description = Par viodi lis tôs schedis di dapardut là che tu dopris { -brand-product-name }, jentre su ducj i tiei dispositîfs. Scuvierç cemût <a data-l10n-name="url">coneti altris dispositîfs</a>.
firefoxview-syncedtabs-adddevice-primarybutton = Prove { -brand-product-name } par dispositîfs mobii
firefoxview-tabpickup-synctabs-header = Ative la sincronizazion des schedis
firefoxview-tabpickup-synctabs-description = Permet a { -brand-short-name } di condividi lis schedis tra dispositîfs.
firefoxview-tabpickup-synctabs-learn-how = Impare cemût
firefoxview-tabpickup-synctabs-primarybutton = Sincronize lis schedis viertis
firefoxview-syncedtabs-synctabs-header = Inzorne lis impostazions di sincronizazion
firefoxview-syncedtabs-synctabs-description = Par viodi lis schedis di altris dispositîfs tu âs di ativâ la sincronizazion des schedis viertis.
firefoxview-syncedtabs-synctabs-checkbox = Permet la sincronizazion des schedi viertis
firefoxview-tabpickup-fxa-admin-disabled-header = La tô organizazion e à disativât la sincronizazion
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } nol rive a sincronizâ lis schedis tra i dispositîfs parcè che il to aministradôr al à disabilitât la sincronizazion.
firefoxview-tabpickup-network-offline-header = Controle la tô conession a internet
firefoxview-tabpickup-network-offline-description = Se tu stâs doprant un firewall o un proxy, controle che { -brand-short-name } al vedi i permès par acedi a internet.
firefoxview-tabpickup-network-offline-primarybutton = Torne prove
firefoxview-tabpickup-sync-error-header = O vin dificoltât a sincronizâ
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } nol pues rivâ al servizi di sincronizazion in chest moment. Torne prove chi di pôc.
firefoxview-tabpickup-sync-error-primarybutton = Torne prove
firefoxview-tabpickup-sync-disconnected-header = Ative la sincronizazion par continuâ
firefoxview-tabpickup-sync-disconnected-description = Par recuperâ lis tôs schedis tu scugnis ativâ la sincronizazion in { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Ative la sincronizazion tes impostazions
firefoxview-tabpickup-password-locked-header = Inserìs la tô password primarie par visualizâ lis schedis
firefoxview-tabpickup-password-locked-description = Par recuperâ lis tôs schedis tu scugnis inserî la password primarie par { -brand-short-name }.
firefoxview-tabpickup-password-locked-link = Plui informazions
firefoxview-tabpickup-password-locked-primarybutton = Inserìs la password primarie
firefoxview-syncedtab-password-locked-link = <a data-l10n-name="syncedtab-password-locked-link">Altris informazions</a>
firefoxview-tabpickup-signed-out-header = Jentre par tornâ a conetiti
firefoxview-tabpickup-signed-out-description = Par tornâ a conetiti e recuperâ lis tôs schedis, jentre tal to { -fxaccount-brand-name }.
firefoxview-tabpickup-signed-out-primarybutton = Jentre
firefoxview-tabpickup-syncing = Sentiti cuiet intant che a vegnin sincronizadis lis tôs schedis. Al bastarà un moment.
firefoxview-mobile-promo-header = Recupere lis schedis viertis sul to telefon o taulete
firefoxview-mobile-promo-description = Par visualizâ lis ultimis schedis viertis sul dispositîf mobil, jentre in { -brand-product-name } su iOS o Android.
firefoxview-mobile-promo-primarybutton = Oten { -brand-product-name } par dispositîfs mobii
firefoxview-mobile-confirmation-header = 🎉 Pront par partî!
firefoxview-mobile-confirmation-description = Cumò tu puedis recuperâ lis tôs schedis di { -brand-product-name } viertis sul to telefon o taulete.
firefoxview-closed-tabs-title = Sieradis di resint
firefoxview-closed-tabs-description2 = Torne vierç lis pagjinis che tu âs sierât in chest barcon.
firefoxview-closed-tabs-placeholder-header = Nissune schede sierade di resint
firefoxview-closed-tabs-placeholder-body = Cuant che tu sieris une schede in chest barcon, tu puedis recuperâle di chi.
firefoxview-closed-tabs-placeholder-body2 = Cuant che tu sieris une schede, tu puedis simpri recuperâle di chi.
# Variables:
#   $tabTitle (string) - Title of tab being dismissed
firefoxview-closed-tabs-dismiss-tab =
    .title = Scarte { $tabTitle }
# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Ultime ative
# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Vierç { $targetURI } intune gnove schede
firefoxview-try-colorways-button = Prove gnovis tonalitâts
firefoxview-change-colorway-button = Cambie tonalitât
# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }
firefoxview-synced-tabs-placeholder-header = Ancjemò nuie ce mostrâ
firefoxview-synced-tabs-placeholder-body = La prossime volte che tu vierzis une pagjine in { -brand-product-name } o suntun altri dispositîf, tu la cjatarâs achì come par magjie.
firefoxview-collapse-button-show =
    .title = Mostre liste
firefoxview-collapse-button-hide =
    .title = Plate liste
firefoxview-overview-nav = Navigazion resinte
    .title = Navigazion resinte
firefoxview-overview-header = Navigazion resinte
    .title = Navigazion resinte

## History in this context refers to browser history

firefoxview-history-nav = Cronologjie
    .title = Cronologjie
firefoxview-history-header = Cronologjie
firefoxview-history-context-delete = Elimine de cronologjie
    .accesskey = D

## Open Tabs in this context refers to all open tabs in the browser

firefoxview-opentabs-nav = Schedis viertis
    .title = Schedis viertis
firefoxview-opentabs-header = Schedis viertis

## Recently closed tabs in this context refers to recently closed tabs from all windows

firefoxview-recently-closed-nav = Schedis sieradis di resint
    .title = Schedis sieradis di resint
firefoxview-recently-closed-header = Schedis sieradis di resint

## Tabs from other devices refers in this context refers to synced tabs from other devices

firefoxview-synced-tabs-nav = Schedis di altris dispositîfs
    .title = Schedis di altris dispositîfs
firefoxview-synced-tabs-header = Schedis di altris dispositîfs

##

# Used for a link in collapsible cards, in the ’Recent browsing’ page of Firefox View
firefoxview-view-all-link = Mostre dut
# Variables:
#   $winID (Number) - The index of the owner window for this set of tabs
firefoxview-opentabs-window-header =
    .title = Barcon { $winID }
# Variables:
#   $winID (Number) - The index of the owner window (which is currently focused) for this set of tabs
firefoxview-opentabs-current-window-header =
    .title = Barcon { $winID } (atuâl)
firefoxview-opentabs-focus-tab =
    .title = Passe a cheste schede
firefoxview-show-more = Mostre di plui
firefoxview-show-less = Mostre di mancul
firefoxview-sort-history-by-date-label = Ordene par date
firefoxview-sort-history-by-site-label = Ordene par sît

## Variables:
##   $date (string) - Date to be formatted based on locale

firefoxview-history-date-today = Vuê - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-yesterday = Îr - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-this-month = { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-prev-month = { DATETIME($date, month: "long", year: "numeric") }
# When history is sorted by site, this heading is used in place of a domain, in
# order to group sites that do not come from an outside host.
# For example, this would be the heading for all file:/// URLs in history.
firefoxview-history-site-localhost = (files locâi)

##

firefoxview-show-all-history = Mostre dute la cronologjie
firefoxview-view-more-browsing-history = Mostre altre cronologjie di navigazion

## Message displayed in Firefox View when the user has no history data

firefoxview-history-empty-header = Torne là che tu sês za stât
firefoxview-history-empty-description = A man a man che tu navighis, lis pagjinis che tu visitis a vignaran listadis achì.
firefoxview-history-empty-description-two = Protezi la tô riservatece e je la nestre prioritât. Par chest tu puedis decidi lis ativitâts che { -brand-short-name } al à di visâsi tes <a data-l10n-name="history-settings-url">impostazions de cronologjie</a>.

##

# Button text for choosing a browser within the ’Import history from another browser’ banner
firefoxview-choose-browser-button = Sielç un navigadôr
    .title = Sielç un navigadôr

## Message displayed in Firefox View when the user has chosen to never remember History

firefoxview-dont-remember-history-empty-header = Nuie ce mostrâ
firefoxview-dont-remember-history-empty-description = Protezi la tô riservatece e je la nestre prioritât. Par chest motîf tu puedis decidi lis ativitâts che { -brand-short-name } al à di visâsi.
firefoxview-dont-remember-history-empty-description-two = In base aes tôs impostazions corintis, { -brand-short-name } nol à di visâsi lis tôs ativitâts dilunc la navigazion. Par cambiâ, <a data-l10n-name="history-settings-url-two">tes impostazions de cronologjie, stabilìs che il to navigadôr al salvi la cronologjie</a>.

##

# This label is read by screen readers when focusing the close button for the "Import history from another browser" banner in Firefox View
firefoxview-import-history-close-button =
    .aria-label = Siere
    .title = Siere

## Text displayed in a dismissable banner to import bookmarks/history from another browser

firefoxview-import-history-header = Impuarte la cronologjie di un altri navigadôr
firefoxview-import-history-description = Rint { -brand-short-name } il to navigadôr di riferiment. Impuarte la cronologjie, i segnelibris e ancjemò altri.

## Message displayed in Firefox View when the user has no recently closed tabs data

firefoxview-recentlyclosed-empty-header = Âstu sierât une schede masse adore?
firefoxview-recentlyclosed-empty-description = Achì tu puedis cjatâ lis schedis che tu âs sierât di resint, in mût di podêlis tornâ a vierzi daurman.
firefoxview-recentlyclosed-empty-description-two = Par cjatâ schedis sieradis di tant timp, viôt la tô <a data-l10n-name="history-url">cronologjie di navigazion</a>.

##

