# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }
menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F
firefoxview-page-title = { -firefoxview-brand-name }
firefoxview-close-button =
    .title = Sulje
    .aria-label = Sulje
# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Juuri nyt
# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Välilehden valinta
firefoxview-tabpickup-description = Avaa sivuja muilta laitteilta.
# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue } % valmiina
firefoxview-tabpickup-step-signin-header = Vaihda saumattomasti laitteiden välillä
firefoxview-tabpickup-step-signin-description = Noutaaksesi puhelimen välilehdet tänne, kirjaudu ensin sisään tai luo tili.
firefoxview-tabpickup-step-signin-primarybutton = Jatka
firefoxview-syncedtabs-signin-header = Nappaa välilehdet mistä tahansa
firefoxview-syncedtabs-signin-description = Näet välilehdet kaikkialla, missä käytät { -brand-product-name }ia, kun kirjaudut sisään tilillesi. Jos sinulla ei ole tiliä, opastamme sinut rekisteröitymisen vaiheiden läpi.
firefoxview-syncedtabs-signin-primarybutton = Kirjaudu tai rekisteröidy
firefoxview-tabpickup-adddevice-header = Synkronoi { -brand-product-name } puhelimellasi tai tablet-laitteellasi
firefoxview-tabpickup-adddevice-description = Lataa { -brand-product-name } mobiililaitteelle ja kirjaudu sisään.
firefoxview-tabpickup-adddevice-learn-how = Lue lisää
firefoxview-tabpickup-adddevice-primarybutton = Hanki { -brand-product-name } mobiililaitteelle
firefoxview-syncedtabs-adddevice-header = Kirjaudu sisään { -brand-product-name }iin muilla laitteillasi
firefoxview-syncedtabs-adddevice-description = Näet välilehdet kaikkialla, missä käytät { -brand-product-name }ia, kun kirjaudut sisään tilillesi kaikilla laitteillasi. Tietoa <a data-l10n-name="url">muiden laitteiden yhdistämisestä</a>.
firefoxview-syncedtabs-adddevice-primarybutton = Kokeile { -brand-product-name }ia mobiililaitteella
firefoxview-tabpickup-synctabs-header = Ota välilehtien synkronointi käyttöön
firefoxview-tabpickup-synctabs-description = Salli { -brand-short-name }in jakaa välilehtiä laitteiden välillä.
firefoxview-tabpickup-synctabs-learn-how = Lue lisää
firefoxview-tabpickup-synctabs-primarybutton = Synkronoi avoimet välilehdet
firefoxview-syncedtabs-synctabs-header = Päivitä synkronointiasetukset
firefoxview-syncedtabs-synctabs-description = Jos haluat nähdä muiden laitteiden välilehdet, sinun on synkronoitava avoimet välilehdet.
firefoxview-syncedtabs-synctabs-checkbox = Salli avointen välilehtien synkronointi
firefoxview-tabpickup-fxa-admin-disabled-header = Organisaatiosi on poistanut synkronoinnin käytöstä
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } ei voi synkronoida välilehtiä laitteiden välillä, koska laitteesi järjestelmänvalvoja on poistanut synkronoinnin käytöstä.
firefoxview-tabpickup-network-offline-header = Tarkista Internet-yhteytesi
firefoxview-tabpickup-network-offline-description = Jos käytät palomuuria tai välityspalvelinta, tarkista että { -brand-short-name } on oikeutettu käyttämään verkkoa.
firefoxview-tabpickup-network-offline-primarybutton = Yritä uudelleen
firefoxview-tabpickup-sync-error-header = Synkronoinnin kanssa on ongelmia
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } ei saa yhteyttä synkronointipalveluun juuri nyt. Yritä uudelleen hetken kuluttua.
firefoxview-tabpickup-sync-error-primarybutton = Yritä uudelleen
firefoxview-tabpickup-sync-disconnected-header = Ota synkronointi käyttöön jatkaaksesi
firefoxview-tabpickup-sync-disconnected-description = Jotta pääset käyttämään välilehtiäsi, sinun tulee sallia { -brand-short-name }in synkronointi.
firefoxview-tabpickup-sync-disconnected-primarybutton = Ota synkronointi käyttöön asetuksista
firefoxview-tabpickup-password-locked-header = Anna pääsalasanasi nähdäksesi välilehdet
firefoxview-tabpickup-password-locked-description = Jotta pääset käyttämään välilehtiäsi, sinun tulee kirjoittaa { -brand-short-name }in pääsalasana.
firefoxview-tabpickup-password-locked-link = Lue lisää
firefoxview-tabpickup-password-locked-primarybutton = Kirjoita pääsalasana
firefoxview-syncedtab-password-locked-link = <a data-l10n-name="syncedtab-password-locked-link">Lisätietoja</a>
firefoxview-tabpickup-signed-out-header = Kirjaudu yhdistääksesi uudelleen
firefoxview-tabpickup-signed-out-description = Muodosta yhteys uudelleen ja nouda välilehdet kirjautumalla sisään { -fxaccount-brand-name }llesi.
firefoxview-tabpickup-signed-out-primarybutton = Kirjaudu sisään
firefoxview-tabpickup-syncing = Odota, kun välilehdet synkronoidaan. Siinä kestää vain hetki.
firefoxview-mobile-promo-header = Nappaa välilehtiä puhelimestasi tai tabletistasi
firefoxview-mobile-promo-description = Voit tarkastella uusimpia mobiililaitteellasi olevia välilehtiä kirjautumalla sisään { -brand-product-name }iin iOS- tai Android-laitteella.
firefoxview-mobile-promo-primarybutton = Hanki { -brand-product-name } mobiililaitteelle
firefoxview-mobile-confirmation-header = 🎉 Kaikki valmista!
firefoxview-mobile-confirmation-description = Nyt voit käyttää tablet-laitteesi tai puhelimesi { -brand-product-name }in välilehtiä.
firefoxview-closed-tabs-title = Viimeksi suljetut
firefoxview-closed-tabs-description2 = Avaa uudelleen tässä ikkunassa sulkemasi sivut.
firefoxview-closed-tabs-placeholder-header = Ei viimeksi suljettuja välilehtiä
firefoxview-closed-tabs-placeholder-body = Kun suljet välilehden tässä ikkunassa, voit hakea sen täältä.
firefoxview-closed-tabs-placeholder-body2 = Kun suljet välilehden, voit hakea sen täältä.
# Variables:
#   $tabTitle (string) - Title of tab being dismissed
firefoxview-closed-tabs-dismiss-tab =
    .title = Hylkää { $tabTitle }
# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Viimeksi aktiivinen
# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Avaa { $targetURI } uuteen välilehteen
firefoxview-try-colorways-button = Kokeile väriteemoja
firefoxview-change-colorway-button = Vaihda väriteemaa
# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }
firefoxview-synced-tabs-placeholder-header = Ei vielä mitään nähtävää
firefoxview-synced-tabs-placeholder-body = Kun seuraavan kerran avaat sivun { -brand-product-name }issa toisella laitteella, pääset palaamaan siihen tästä.
firefoxview-collapse-button-show =
    .title = Näytä lista
firefoxview-collapse-button-hide =
    .title = Piilota lista
firefoxview-overview-nav = Viimeaikainen selaus
    .title = Viimeaikainen selaus
firefoxview-overview-header = Viimeaikainen selaus
    .title = Viimeaikainen selaus

## History in this context refers to browser history

firefoxview-history-nav = Sivuhistoria
    .title = Sivuhistoria
firefoxview-history-header = Sivuhistoria
firefoxview-history-context-delete = Poista historiasta
    .accesskey = P

## Open Tabs in this context refers to all open tabs in the browser

firefoxview-opentabs-nav = Avoimet välilehdet
    .title = Avoimet välilehdet
firefoxview-opentabs-header = Avoimet välilehdet

## Recently closed tabs in this context refers to recently closed tabs from all windows

firefoxview-recently-closed-nav = Suljetut välilehdet
    .title = Suljetut välilehdet
firefoxview-recently-closed-header = Suljetut välilehdet

## Tabs from other devices refers in this context refers to synced tabs from other devices

firefoxview-synced-tabs-nav = Välilehdet muista laitteista
    .title = Välilehdet muista laitteista
firefoxview-synced-tabs-header = Välilehdet muista laitteista

##

# Used for a link in collapsible cards, in the ’Recent browsing’ page of Firefox View
firefoxview-view-all-link = Näytä kaikki
# Variables:
#   $winID (Number) - The index of the owner window for this set of tabs
firefoxview-opentabs-window-header =
    .title = Ikkuna { $winID }
# Variables:
#   $winID (Number) - The index of the owner window (which is currently focused) for this set of tabs
firefoxview-opentabs-current-window-header =
    .title = Ikkuna { $winID } (nykyinen)
firefoxview-opentabs-focus-tab =
    .title = Siirry tähän välilehteen
firefoxview-show-more = Näytä lisää
firefoxview-show-less = Näytä vähemmän
firefoxview-sort-history-by-date-label = Järjestä päiväyksen mukaan
firefoxview-sort-history-by-site-label = Järjestä sivuston mukaan

## Variables:
##   $date (string) - Date to be formatted based on locale

firefoxview-history-date-today = Tänään - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-yesterday = Eilen - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-this-month = { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-prev-month = { DATETIME($date, month: "long", year: "numeric") }
# When history is sorted by site, this heading is used in place of a domain, in
# order to group sites that do not come from an outside host.
# For example, this would be the heading for all file:/// URLs in history.
firefoxview-history-site-localhost = (paikalliset tiedostot)

##

firefoxview-show-all-history = Näytä koko historia
firefoxview-view-more-browsing-history = Näytä lisää selaushistoriaa

## Message displayed in Firefox View when the user has no history data

firefoxview-history-empty-header = Palaa sinne missä olit
firefoxview-history-empty-description = Kun selaat, vierailemasi sivut näkyvät tässä.
firefoxview-history-empty-description-two = Yksityisyytesi suojaaminen on toimintamme ydin. Tästä syystä voit hallita <a data-l10n-name="history-settings-url">historia-asetuksissa</a>, mitä toimintaa { -brand-short-name } muistaa.

##

# Button text for choosing a browser within the ’Import history from another browser’ banner
firefoxview-choose-browser-button = Valitse selain
    .title = Valitse selain

## Message displayed in Firefox View when the user has chosen to never remember History

firefoxview-dont-remember-history-empty-header = Ei mitään näytettävää
firefoxview-dont-remember-history-empty-description = Yksityisyytesi suojaaminen on toimintamme ydin. Sen vuoksi voit hallita, mitä toimintaa { -brand-short-name } muistaa.
firefoxview-dont-remember-history-empty-description-two = Nykyisten asetustesi perusteella { -brand-short-name } ei muista toimintaasi selaamisen aikana. Voit muuttaa tätä <a data-l10n-name="history-settings-url-two">muuttamalla historia-asetuksia niin, että selain muistaa selaushistorian</a>.

##

# This label is read by screen readers when focusing the close button for the "Import history from another browser" banner in Firefox View
firefoxview-import-history-close-button =
    .aria-label = Sulje
    .title = Sulje

## Text displayed in a dismissable banner to import bookmarks/history from another browser

firefoxview-import-history-header = Tuo historia toisesta selaimesta
firefoxview-import-history-description = Tee { -brand-short-name }ista oletusselain. Tuo selaushistoria, kirjanmerkit ja paljon muuta.

## Message displayed in Firefox View when the user has no recently closed tabs data

firefoxview-recentlyclosed-empty-header = Suljitko välilehden liian nopeasti?
firefoxview-recentlyclosed-empty-description = Täältä löydät äskettäin sulkemasi välilehdet, joten voit avata minkä tahansa niistä nopeasti uudelleen.
firefoxview-recentlyclosed-empty-description-two = Jos haluat etsiä välilehtiä ajan takaa, tarkastele <a data-l10n-name="history-url">selaushistoriaa</a>.

##

