# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }
menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F
firefoxview-page-title = { -firefoxview-brand-name }
firefoxview-close-button =
    .title = Đóng
    .aria-label = Đóng
# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Vừa xong
# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Các thẻ trên thiết bị khác
firefoxview-tabpickup-description = Mở trang từ các thiết bị khác.
# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% hoàn thành
firefoxview-tabpickup-step-signin-header = Chuyển đổi liền mạch giữa các thiết bị
firefoxview-tabpickup-step-signin-description = Để truy cập các thẻ điện thoại của bạn tại đây, trước tiên hãy đăng nhập hoặc tạo tài khoản.
firefoxview-tabpickup-step-signin-primarybutton = Tiếp tục
firefoxview-syncedtabs-signin-header = Nhận các thẻ từ bất cứ đâu
firefoxview-syncedtabs-signin-description = Để xem các thẻ của bạn từ bất cứ nơi nào bạn sử dụng { -brand-product-name }, hãy đăng nhập vào tài khoản của bạn. Nếu bạn chưa có tài khoản, chúng tôi sẽ hướng dẫn bạn các bước để đăng ký.
firefoxview-syncedtabs-signin-primarybutton = Đăng nhập hoặc đăng ký
firefoxview-tabpickup-adddevice-header = Đồng bộ hóa { -brand-product-name } trên điện thoại hoặc máy tính bảng của bạn
firefoxview-tabpickup-adddevice-description = Tải xuống { -brand-product-name } cho điện thoại di động và đăng nhập vào đó.
firefoxview-tabpickup-adddevice-learn-how = Tìm hiểu cách làm
firefoxview-tabpickup-adddevice-primarybutton = Tải { -brand-product-name } dành cho điện thoại di động
firefoxview-syncedtabs-adddevice-header = Đăng nhập vào { -brand-product-name } trên các thiết bị khác của bạn
firefoxview-syncedtabs-adddevice-description = Để xem các thẻ của bạn từ bất cứ nơi nào bạn sử dụng { -brand-product-name }, đăng nhập trên tất cả các thiết bị của bạn. Tìm hiểu cách <a data-l10n-name="url">kết nối các thiết bị khác</a>.
firefoxview-syncedtabs-adddevice-primarybutton = Thử { -brand-product-name } cho di động
firefoxview-tabpickup-synctabs-header = Bật đồng bộ hóa thẻ
firefoxview-tabpickup-synctabs-description = Cho phép { -brand-short-name } chia sẻ các thẻ giữa các thiết bị.
firefoxview-tabpickup-synctabs-learn-how = Tìm hiểu cách làm
firefoxview-tabpickup-synctabs-primarybutton = Đồng bộ hóa các thẻ đang mở
firefoxview-syncedtabs-synctabs-header = Cập nhật cài đặt đồng bộ hóa của bạn
firefoxview-syncedtabs-synctabs-description = Để xem các thẻ từ các thiết bị khác, bạn cần đồng bộ hóa các thẻ đang mở của mình.
firefoxview-syncedtabs-synctabs-checkbox = Cho phép đồng bộ hóa các thẻ đang mở
firefoxview-tabpickup-fxa-admin-disabled-header = Tổ chức của bạn đã tắt đồng bộ hóa
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } không thể đồng bộ hóa các thẻ giữa các thiết bị vì quản trị viên của bạn đã tắt đồng bộ hóa.
firefoxview-tabpickup-network-offline-header = Kiểm tra kết nối Internet của bạn
firefoxview-tabpickup-network-offline-description = Nếu bạn đang sử dụng tường lửa hoặc proxy, hãy kiểm tra xem { -brand-short-name } có quyền truy cập web hay không.
firefoxview-tabpickup-network-offline-primarybutton = Thử lại
firefoxview-tabpickup-sync-error-header = Chúng tôi đang gặp sự cố khi đồng bộ hóa
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } hiện không thể đồng bộ hóa với dịch vụ. Hãy thử lại sau vài phút.
firefoxview-tabpickup-sync-error-primarybutton = Thử lại
firefoxview-tabpickup-sync-disconnected-header = Bật đồng bộ hóa để tiếp tục
firefoxview-tabpickup-sync-disconnected-description = Để lấy các thẻ của bạn, bạn cần cho phép đồng bộ hóa trong { -brand-short-name }.
firefoxview-tabpickup-sync-disconnected-primarybutton = Bật đồng bộ hóa trong cài đặt
firefoxview-tabpickup-password-locked-header = Nhập mật khẩu chính của bạn để xem các thẻ
firefoxview-tabpickup-password-locked-description = Để lấy các thẻ của mình, bạn cần nhập mật khẩu chính cho { -brand-short-name }.
firefoxview-tabpickup-password-locked-link = Tìm hiểu thêm
firefoxview-tabpickup-password-locked-primarybutton = Nhập mật khẩu chính
firefoxview-syncedtab-password-locked-link = <a data-l10n-name="syncedtab-password-locked-link">Tìm hiểu thêm</a>
firefoxview-tabpickup-signed-out-header = Đăng nhập để kết nối lại
firefoxview-tabpickup-signed-out-description = Để kết nối lại và lấy các thẻ của bạn, hãy đăng nhập vào { -fxaccount-brand-name } của bạn.
firefoxview-tabpickup-signed-out-primarybutton = Đăng nhập
firefoxview-tabpickup-syncing = Thoải mái ngồi yên trong khi các thẻ của bạn đồng bộ hóa. Thông thường nó sẽ chỉ mất vài phút.
firefoxview-mobile-promo-header = Nhận các thẻ từ điện thoại hoặc máy tính bảng của bạn
firefoxview-mobile-promo-description = Để xem các thẻ trên di động mới nhất của bạn, hãy đăng nhập vào { -brand-product-name } trên iOS hoặc Android.
firefoxview-mobile-promo-primarybutton = Tải { -brand-product-name } dành cho di động
firefoxview-mobile-confirmation-header = 🎉 Tất cả đã xong!
firefoxview-mobile-confirmation-description = Giờ đây, bạn có thể nhận các thẻ { -brand-product-name } từ máy tính bảng hoặc điện thoại của mình.
firefoxview-closed-tabs-title = Đã đóng gần đây
firefoxview-closed-tabs-description2 = Mở lại các trang bạn đã đóng trong cửa sổ này.
firefoxview-closed-tabs-placeholder-header = Không có thẻ nào đã đóng gần đây
firefoxview-closed-tabs-placeholder-body = Khi bạn đóng một thẻ trong cửa sổ này, bạn có thể lấy nó từ đây.
firefoxview-closed-tabs-placeholder-body2 = Khi bạn đóng một thẻ, bạn có thể tìm thấy nó từ đây.
# Variables:
#   $tabTitle (string) - Title of tab being dismissed
firefoxview-closed-tabs-dismiss-tab =
    .title = Bỏ qua { $tabTitle }
# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Hoạt động lần cuối
# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Mở { $targetURI } trong một thẻ mới
firefoxview-try-colorways-button = Thử đường màu
firefoxview-change-colorway-button = Thay đổi đường màu
# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }
firefoxview-synced-tabs-placeholder-header = Chưa có gì để xem
firefoxview-synced-tabs-placeholder-body = Lần tới khi bạn mở một trang bằng { -brand-product-name } trên một thiết bị khác, hãy lấy nó ở đây như một phép thuật.
firefoxview-collapse-button-show =
    .title = Hiển thị danh sách
firefoxview-collapse-button-hide =
    .title = Ẩn danh sách
firefoxview-overview-nav = Duyệt web gần đây
    .title = Duyệt web gần đây
firefoxview-overview-header = Duyệt web gần đây
    .title = Duyệt web gần đây

## History in this context refers to browser history

firefoxview-history-nav = Lịch sử
    .title = Lịch sử
firefoxview-history-header = Lịch sử
firefoxview-history-context-delete = Xóa khỏi lịch sử
    .accesskey = D

## Open Tabs in this context refers to all open tabs in the browser

firefoxview-opentabs-nav = Các thẻ đang mở
    .title = Các thẻ đang mở
firefoxview-opentabs-header = Các thẻ đang mở

## Recently closed tabs in this context refers to recently closed tabs from all windows

firefoxview-recently-closed-nav = Thẻ mới đóng gần đây
    .title = Thẻ mới đóng gần đây
firefoxview-recently-closed-header = Thẻ mới đóng gần đây

## Tabs from other devices refers in this context refers to synced tabs from other devices

firefoxview-synced-tabs-nav = Thẻ từ thiết bị khác
    .title = Thẻ từ thiết bị khác
firefoxview-synced-tabs-header = Thẻ từ thiết bị khác

##

# Used for a link in collapsible cards, in the ’Recent browsing’ page of Firefox View
firefoxview-view-all-link = Xem tất cả
# Variables:
#   $winID (Number) - The index of the owner window for this set of tabs
firefoxview-opentabs-window-header =
    .title = Cửa sổ { $winID }
# Variables:
#   $winID (Number) - The index of the owner window (which is currently focused) for this set of tabs
firefoxview-opentabs-current-window-header =
    .title = Cửa sổ { $winID } (Hiện tại)
firefoxview-opentabs-focus-tab =
    .title = Chuyển sang thẻ này
firefoxview-show-more = Hiện thêm
firefoxview-show-less = Hiện ít hơn
firefoxview-sort-history-by-date-label = Sắp xếp theo ngày
firefoxview-sort-history-by-site-label = Sắp xếp theo trang web

## Variables:
##   $date (string) - Date to be formatted based on locale

firefoxview-history-date-today = Hôm nay - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-yesterday = Hôm qua - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-this-month = { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-prev-month = { DATETIME($date, month: "long", year: "numeric") }
# When history is sorted by site, this heading is used in place of a domain, in
# order to group sites that do not come from an outside host.
# For example, this would be the heading for all file:/// URLs in history.
firefoxview-history-site-localhost = (tập tin cục bộ)

##

firefoxview-show-all-history = Xem tất cả lịch sử
firefoxview-view-more-browsing-history = Xem thêm lịch sử duyệt web

## Message displayed in Firefox View when the user has no history data

firefoxview-history-empty-header = Quay trở lại nơi bạn đã đến
firefoxview-history-empty-description = Khi bạn duyệt, các trang bạn truy cập sẽ được hiển thị ở đây.
firefoxview-history-empty-description-two = Bảo vệ sự riêng tư của bạn là trọng tâm của những gì chúng tôi làm. Đó là lý do tại sao bạn có thể kiểm soát hoạt động mà { -brand-short-name } ghi nhớ, trong <a data-l10n-name="history-settings-url">cài đặt lịch sử</a> của bạn.

##

# Button text for choosing a browser within the ’Import history from another browser’ banner
firefoxview-choose-browser-button = Chọn trình duyệt
    .title = Chọn trình duyệt

## Message displayed in Firefox View when the user has chosen to never remember History

firefoxview-dont-remember-history-empty-header = Không có gì để hiển thị
firefoxview-dont-remember-history-empty-description = Bảo vệ sự riêng tư của bạn là trọng tâm của những gì chúng tôi làm. Đó là lý do tại sao bạn có thể kiểm soát hoạt động mà { -brand-short-name } ghi nhớ.
firefoxview-dont-remember-history-empty-description-two = Dựa trên cài đặt hiện tại của bạn, { -brand-short-name } không nhớ hoạt động của bạn khi bạn duyệt. Để thay đổi ý định, <a data-l10n-name="history-settings-url-two">hãy thay đổi cài đặt lịch sử của bạn để ghi nhớ lịch sử của bạn</a>.

##

# This label is read by screen readers when focusing the close button for the "Import history from another browser" banner in Firefox View
firefoxview-import-history-close-button =
    .aria-label = Đóng
    .title = Đóng

## Text displayed in a dismissable banner to import bookmarks/history from another browser

firefoxview-import-history-header = Nhập lịch sử từ trình duyệt khác
firefoxview-import-history-description = Đặt { -brand-short-name } làm trình duyệt mặc định của bạn. Nhập lịch sử duyệt web, dấu trang, và hơn thế nữa.

## Message displayed in Firefox View when the user has no recently closed tabs data

firefoxview-recentlyclosed-empty-header = Đóng một thẻ quá sớm?
firefoxview-recentlyclosed-empty-description = Tại đây, bạn sẽ tìm thấy các thẻ bạn đã đóng gần đây, vì vậy bạn có thể mở lại bất kỳ thẻ nào một cách nhanh chóng.
firefoxview-recentlyclosed-empty-description-two = Để tìm các thẻ từ thời gian cũ hơn, hãy xem <a data-l10n-name="history-url">lịch sử duyệt web</a> của bạn.

##

