# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }
menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F
firefoxview-page-title = { -firefoxview-brand-name }
firefoxview-close-button =
    .title = 關閉
    .aria-label = 關閉
# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = 剛剛
# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = 接收分頁
firefoxview-tabpickup-description = 開啟其他裝置上的頁面。
# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = 完成 { $percentValue }%
firefoxview-tabpickup-step-signin-header = 無縫切換裝置
firefoxview-tabpickup-step-signin-description = 請先登入或註冊帳號，即可在此處接收手機上的分頁。
firefoxview-tabpickup-step-signin-primarybutton = 繼續
firefoxview-syncedtabs-signin-header = 取回所有裝置上的分頁
firefoxview-syncedtabs-signin-description = 登入帳號後，即可看到您所有使用 { -brand-product-name } 的裝置開啟的分頁。若沒有帳號，我們可帶您完成註冊。
firefoxview-syncedtabs-signin-primarybutton = 登入或註冊
firefoxview-tabpickup-adddevice-header = 與您的手機或平板電腦同步 { -brand-product-name }
firefoxview-tabpickup-adddevice-description = 下載 { -brand-product-name } 行動版並在該裝置登入。
firefoxview-tabpickup-adddevice-learn-how = 了解要怎麼做
firefoxview-tabpickup-adddevice-primarybutton = 下載 { -brand-product-name } 行動版
firefoxview-syncedtabs-adddevice-header = 在您其他裝置上的 { -brand-product-name } 也登入
firefoxview-syncedtabs-adddevice-description = 請在您所有使用的裝置都登入 { -brand-product-name }，才能看到所有地方開啟的分頁。了解如何<a data-l10n-name="url">連結更多裝置</a>。
firefoxview-syncedtabs-adddevice-primarybutton = 試用 { -brand-product-name } 行動版
firefoxview-tabpickup-synctabs-header = 開啟分頁同步
firefoxview-tabpickup-synctabs-description = 允許 { -brand-short-name } 在不同裝置間分享分頁。
firefoxview-tabpickup-synctabs-learn-how = 了解要怎麼做
firefoxview-tabpickup-synctabs-primarybutton = 同步開啟的分頁
firefoxview-syncedtabs-synctabs-header = 更新同步設定
firefoxview-syncedtabs-synctabs-description = 需要同步開啟的分頁，才能看到您其他裝置上的分頁。
firefoxview-syncedtabs-synctabs-checkbox = 允許同步開啟的分頁
firefoxview-tabpickup-fxa-admin-disabled-header = 您的組織已停用同步功能
firefoxview-tabpickup-fxa-admin-disabled-description = 由於您的管理員已停用同步功能，{ -brand-short-name } 無法在裝置間同步分頁。
firefoxview-tabpickup-network-offline-header = 請檢查您的網際網路連線是否正常
firefoxview-tabpickup-network-offline-description = 若您在防火牆或代理伺服器後面，請確認 { -brand-short-name } 可連線至網際網路。
firefoxview-tabpickup-network-offline-primarybutton = 重試
firefoxview-tabpickup-sync-error-header = 同步時遇到問題
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } 暫時無法連線到同步服務，請稍候幾分鐘再試一次。
firefoxview-tabpickup-sync-error-primarybutton = 再試一次
firefoxview-tabpickup-sync-disconnected-header = 開啟同步功能即可繼續
firefoxview-tabpickup-sync-disconnected-description = 若要取得您的分頁，需要先在 { -brand-short-name } 開啟同步功能。
firefoxview-tabpickup-sync-disconnected-primarybutton = 到設定中開啟
firefoxview-tabpickup-password-locked-header = 請輸入您的主控密碼來檢視分頁
firefoxview-tabpickup-password-locked-description = 若要取得您的分頁，需要先輸入 { -brand-short-name } 的主控密碼。
firefoxview-tabpickup-password-locked-link = 了解更多
firefoxview-tabpickup-password-locked-primarybutton = 輸入主控密碼
firefoxview-syncedtab-password-locked-link = <a data-l10n-name="syncedtab-password-locked-link">了解更多</a>
firefoxview-tabpickup-signed-out-header = 登入即可重新連線
firefoxview-tabpickup-signed-out-description = 登入 { -fxaccount-brand-name } 即可重新連線並取回分頁。
firefoxview-tabpickup-signed-out-primarybutton = 登入
firefoxview-tabpickup-syncing = 稍等分頁進行同步，只要一下下即可。
firefoxview-mobile-promo-header = 在手機或平板電腦接收分頁
firefoxview-mobile-promo-description = 若要檢視您最新的行動分頁，請登入 iOS 或 Android 上的 { -brand-product-name }。
firefoxview-mobile-promo-primarybutton = 下載 { -brand-product-name } 行動版
firefoxview-mobile-confirmation-header = 🎉都搞定了！
firefoxview-mobile-confirmation-description = 您現在可以直接開啟平板電腦或手機上的 { -brand-product-name } 分頁。
firefoxview-closed-tabs-title = 最近關閉的分頁
firefoxview-closed-tabs-description2 = 重新開啟您最近在此視窗關閉的分頁。
firefoxview-closed-tabs-placeholder-header = 沒有最近關閉的分頁
firefoxview-closed-tabs-placeholder-body = 當您關閉此視窗中的分頁時，可以在此取回。
firefoxview-closed-tabs-placeholder-body2 = 當您關閉分頁後，可以在此取回。
# Variables:
#   $tabTitle (string) - Title of tab being dismissed
firefoxview-closed-tabs-dismiss-tab =
    .title = 關閉 { $tabTitle }
# refers to the last tab that was used
firefoxview-pickup-tabs-badge = 最後開啟
# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = 用新分頁開啟 { $targetURI }
firefoxview-try-colorways-button = 嘗試 Colorways
firefoxview-change-colorway-button = 更改配色
# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }
firefoxview-synced-tabs-placeholder-header = 還沒有任何東西
firefoxview-synced-tabs-placeholder-body = 下次您在另一台裝置上的 { -brand-product-name } 開啟頁面時，也可以在此處開啟。
firefoxview-collapse-button-show =
    .title = 顯示清單
firefoxview-collapse-button-hide =
    .title = 隱藏清單
firefoxview-overview-nav = 近期瀏覽
    .title = 近期瀏覽
firefoxview-overview-header = 近期瀏覽
    .title = 近期瀏覽

## History in this context refers to browser history

firefoxview-history-nav = 瀏覽紀錄
    .title = 瀏覽紀錄
firefoxview-history-header = 瀏覽紀錄
firefoxview-history-context-delete = 從瀏覽紀錄刪除
    .accesskey = D

## Open Tabs in this context refers to all open tabs in the browser

firefoxview-opentabs-nav = 開啟分頁
    .title = 開啟分頁
firefoxview-opentabs-header = 開啟分頁

## Recently closed tabs in this context refers to recently closed tabs from all windows

firefoxview-recently-closed-nav = 最近關閉的分頁
    .title = 最近關閉的分頁
firefoxview-recently-closed-header = 最近關閉的分頁

## Tabs from other devices refers in this context refers to synced tabs from other devices

firefoxview-synced-tabs-nav = 來自其他裝置的分頁
    .title = 來自其他裝置的分頁
firefoxview-synced-tabs-header = 來自其他裝置的分頁

##

# Used for a link in collapsible cards, in the ’Recent browsing’ page of Firefox View
firefoxview-view-all-link = 檢視全部
# Variables:
#   $winID (Number) - The index of the owner window for this set of tabs
firefoxview-opentabs-window-header =
    .title = 視窗 { $winID }
# Variables:
#   $winID (Number) - The index of the owner window (which is currently focused) for this set of tabs
firefoxview-opentabs-current-window-header =
    .title = 視窗 { $winID }（目前視窗）
firefoxview-opentabs-focus-tab =
    .title = 切換至此分頁
firefoxview-show-more = 顯示更多
firefoxview-show-less = 顯示更少
firefoxview-sort-history-by-date-label = 依照日期排序
firefoxview-sort-history-by-site-label = 依照網站排序

## Variables:
##   $date (string) - Date to be formatted based on locale

firefoxview-history-date-today = 今天 - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-yesterday = 昨天 - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-this-month = { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-prev-month = { DATETIME($date, month: "long", year: "numeric") }
# When history is sorted by site, this heading is used in place of a domain, in
# order to group sites that do not come from an outside host.
# For example, this would be the heading for all file:/// URLs in history.
firefoxview-history-site-localhost = （本機檔案）

##

firefoxview-show-all-history = 顯示所有瀏覽記錄
firefoxview-view-more-browsing-history = 檢視更多瀏覽紀錄

## Message displayed in Firefox View when the user has no history data

firefoxview-history-empty-header = 回到曾經去過的地方
firefoxview-history-empty-description = 隨您上網，造訪過的頁面將顯示於此處。
firefoxview-history-empty-description-two = 保護您的隱私是我們的第一要務。這也是為什麼您可以在<a data-l10n-name="history-settings-url">瀏覽紀錄設定</a>中自行設定要讓 { -brand-short-name } 記得哪些瀏覽行為。

##

# Button text for choosing a browser within the ’Import history from another browser’ banner
firefoxview-choose-browser-button = 選擇瀏覽器
    .title = 選擇瀏覽器

## Message displayed in Firefox View when the user has chosen to never remember History

firefoxview-dont-remember-history-empty-header = 沒有可顯示的項目
firefoxview-dont-remember-history-empty-description = 保護您的隱私是我們的第一要務。這也是為什麼您可以自行設定要讓 { -brand-short-name } 記得哪些瀏覽行為。
firefoxview-dont-remember-history-empty-description-two = 依照您目前的設定，{ -brand-short-name } 不會記得您的上網行為。要改變此設定，<a data-l10n-name="history-settings-url-two">請將設定調整為要記得您的瀏覽紀錄</a>。

##

# This label is read by screen readers when focusing the close button for the "Import history from another browser" banner in Firefox View
firefoxview-import-history-close-button =
    .aria-label = 關閉
    .title = 關閉

## Text displayed in a dismissable banner to import bookmarks/history from another browser

firefoxview-import-history-header = 自其他瀏覽器匯入瀏覽紀錄
firefoxview-import-history-description = 讓 { -brand-short-name } 成為您的預設瀏覽器。匯入瀏覽紀錄、書籤與更多資料。

## Message displayed in Firefox View when the user has no recently closed tabs data

firefoxview-recentlyclosed-empty-header = 不小心把分頁關閉了？
firefoxview-recentlyclosed-empty-description = 您可以在此處找到近期關閉的分頁，這樣就可以快速重新開啟。
firefoxview-recentlyclosed-empty-description-two = 要尋找更久之前的分頁，請查詢您的<a data-l10n-name="history-url">瀏覽紀錄</a>。

##

